<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    <meta name="description" content="请假管理系统">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/Public/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/Public/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/Public/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/Public/assets/css/admin.css">
    <link rel="stylesheet" href="/Public/assets/css/app.css">
</head>
<body data-type="generalComponents">

{include file="index/header"/}

{include file="index/left"/}


<div class="tpl-content-wrapper">
            <!--<div class="tpl-content-page-title">-->
                <!--Amaze UI 文字列表-->
            <!--</div>-->
            <!--<ol class="am-breadcrumb">-->
                <!--<li><a href="#" class="am-icon-home">首页</a></li>-->
                <!--<li><a href="#">Amaze UI CSS</a></li>-->
                <!--<li class="am-active">文字列表</li>-->
            <!--</ol>-->
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 教师信息
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <!--<i class="am-icon-search"></i>-->
                                <input type="hidden" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>


                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <!--<div class="am-u-sm-12 am-u-md-6">-->
                            <!--<div class="am-btn-toolbar">-->
                                <!--<div class="am-btn-group am-btn-group-xs">-->
                                    <!--<button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>-->
                                    <!--&lt;!&ndash;<button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>&ndash;&gt;-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="am-u-sm-12 am-u-md-3">-->
                            <!--<div class="am-form-group" style="float: inherit" >-->
                                <!--<select data-am-selected="{btnSize: 'sm'}">-->
                                    <!--<option value="option1">所有类别</option>-->
                                    <!--<option value="option2">IT业界</option>-->
                                    <!--<option value="option3">数码产品</option>-->
                                    <!--<option value="option3">笔记本电脑</option>-->
                                    <!--<option value="option3">平板电脑</option>-->
                                    <!--<option value="option3">只能手机</option>-->
                                    <!--<option value="option3">超极本</option>-->
                                <!--</select>-->

                            <!--</div>-->
                            <!--<div class="am-form-group" style="float: inherit">-->
                                <!--<select data-am-selected="{btnSize: 'sm'}">-->
                                    <!--<option value="option1">所有类别</option>-->
                                    <!--<option value="option2">IT业界</option>-->
                                    <!--<option value="option3">数码产品</option>-->
                                    <!--<option value="option3">笔记本电脑</option>-->
                                    <!--<option value="option3">平板电脑</option>-->
                                    <!--<option value="option3">只能手机</option>-->
                                    <!--<option value="option3">超极本</option>-->
                                <!--</select>-->

                            <!--</div>-->
                            <!--<div class="am-form-group" style="float: inherit">-->
                                <!--<select data-am-selected="{btnSize: 'sm'}">-->
                                    <!--<option value="option1">所有类别</option>-->
                                    <!--<option value="option2">IT业界</option>-->
                                    <!--<option value="option3">数码产品</option>-->
                                    <!--<option value="option3">笔记本电脑</option>-->
                                    <!--<option value="option3">平板电脑</option>-->
                                    <!--<option value="option3">只能手机</option>-->
                                    <!--<option value="option3">超极本</option>-->
                                <!--</select>-->

                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="am-u-sm-12 " style="width: 25%">-->
                            <!--<div class="am-input-group am-input-group-sm">-->
                                <!--<input type="text" class="am-form-field">-->
                                <!--<span class="am-input-group-btn">-->
            <!--<button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>-->
          <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                            <th class="table-id">ID</th>
                                            <th class="table-title">姓名</th>
                                            <th class="table-type">邮箱</th>
                                            <th class="table-author am-hide-sm-only">手机号</th>
                                            <!--<th class="table-author am-hide-sm-only">添加日期</th>-->
                                            <!--<th class="table-author am-hide-sm-only">本月请假</th>-->
                                            <!--<th class="table-date am-hide-sm-only">最近请假日期</th>-->
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="list" id="line"}
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>{$line.a_id}</td>
                                            <td><a href="#">{$line.a_username}</a></td>
                                            <td>{$line.a_email}</td>
                                            <td class="am-hide-sm-only">{$line.a_phone}</td>
                                            <!--<td class="am-hide-sm-only">{$line.a_email}</td>-->
                                            <!--<td class="am-hide-sm-only">{$line.a_email}</td>-->
                                            <!--<td class="am-hide-sm-only">2014-9-4 7:28:47</td>-->
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary" type="button" onclick="location.href='/index.php/manage/index/apply?a_id={$line.a_id}';"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                        <!--<button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>-->
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" type="button" onclick="location.href='/index.php/manage/index/delete?a_id={$line.a_id}';"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {/volist}

                                    </tbody>
                                </table>
                                <!--<div class="am-cf">-->

                                    <!--<div class="am-fr">-->
                                        <!--<ul class="am-pagination tpl-pagination">-->
                                            <!--<li class="am-disabled"><a href="#">«</a></li>-->
                                            <!--<li class="am-active"><a href="#">1</a></li>-->
                                            <!--<li><a href="#">2</a></li>-->
                                            <!--<li><a href="#">3</a></li>-->
                                            <!--<li><a href="#">4</a></li>-->
                                            <!--<li><a href="#">5</a></li>-->
                                            <!--<li><a href="#">»</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <hr>

                            </form>
                        </div>

                    </div>
                    <br><br><br><br><br><br><br>
                </div>
                <div class="tpl-alert"></div>
            </div>


        </div>

    </div>


    <script src="/Public/assets/js/jquery.min.js"></script>
    <script src="/Public/assets/js/amazeui.min.js"></script>
    <script src="/Public/assets/js/app.js"></script>
</body>

</html>