<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/Public/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/Public/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/Public/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/Public/assets/css/admin.css">
    <link rel="stylesheet" href="/Public/assets/css/app.css">
</head>

<body data-type="generalComponents">
{include file="index/header"/}

{include file="index/left"/}

        <div class="tpl-content-wrapper">
            <!--<div class="tpl-content-page-title">-->
                <!--Amaze UI 表单-->
            <!--</div>-->
            <!--<ol class="am-breadcrumb">-->
                <!--<li><a href="#" class="am-icon-home">首页</a></li>-->
                <!--<li><a href="#">表单</a></li>-->
                <!--<li class="am-active">Amaze UI 表单</li>-->
            <!--</ol>-->
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 账户设置
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <!--<i class="am-icon-search"></i>-->
                                <input type="hidden" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>


                </div>
                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">


                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal" id="my_form" method="post" action="/index.php/admin/admin/apply">
                                <!--<div class="am-form-group">-->
                                    <!--<label for="user-name" class="am-u-sm-3 am-form-label">学号</label>-->
                                    <!--<div class="am-u-sm-9">-->
                                        <!--<input type="text" name="l_s_card" id="user-card" placeholder="请输入学号">-->
                                        <!--&lt;!&ndash;<button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<small>输入学号点击查询，其他信息会自动填写。</small>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                                <input type="hidden" value="1" name="flag">
                                <!--<input type="hidden" value="" name="l_s_id" id="l_s_id">-->
                                <!--<input type="hidden" value="" name="l_c_id" id="l_c_id">-->
                                <!--<input type="hidden" value="" name="l_g_id" id="l_g_id">-->
                                <div class="am-form-group">
                                    <label for="" class="am-u-sm-3 am-form-label"></label>
                                    <div class="am-u-sm-9">
                                        <!--<input type="text" name="l_s_username" id="user-name" placeholder="请输入姓名">-->
                                        <small id="state" style="color: #F7B824;font-size: 16px;">{$state}</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="a_username" class="am-u-sm-3 am-form-label">管理员姓名</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="a_username" id="a_username" value="{$admin.a_username}" placeholder="请输入管理员姓名">
                                        <small></small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="a_status" class="am-u-sm-3 am-form-label">级别</label>
                                    <div class="am-u-sm-9">
                                        <select class="am-input-sm am-radius" id="a_status" name="a_status">
                                            {if condition="$admin.a_status eq 1"}
                                                <option value="1" selected>教师</option>
                                                <option value="2" >学工助理</option>
                                            {/if}
                                            {if condition="$admin.a_status eq 2"}
                                                <option value="2" selected>学工助理</option>
                                                <option value="1" >教师</option>
                                            {/if}

                                        </select>
                                    </div>
                                </div>
                                <!--<div class="am-form-group">-->
                                    <!--<label for="user-email" class="am-u-sm-3 am-form-label">电子邮件 / Email</label>-->
                                    <!--<div class="am-u-sm-9">-->
                                        <!--<input type="email" id="user-email" placeholder="输入你的 / Email">-->
                                        <!--<small></small>-->
                                    <!--</div>-->
                                <!--</div>-->


                                <div class="am-form-group">
                                    <label for="user-phone" class="am-u-sm-3 am-form-label">原密码</label>
                                    <div class="am-u-sm-9">
                                        <input type="password" name="last_password" id="last_password" placeholder="输入原密码">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-phone" class="am-u-sm-3 am-form-label">新密码</label>
                                    <div class="am-u-sm-9">
                                        <input type="password" name="a_password" id="a_password" placeholder="输入新密码">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-phone" class="am-u-sm-3 am-form-label">确认密码</label>
                                    <div class="am-u-sm-9">
                                        <input type="password" name="a_password2" id="a_password2" placeholder="再次输入新密码">
                                    </div>
                                </div>

                                <!--<div class="am-form-group">-->
                                    <!--<label for="begin_time" class="am-u-sm-3 am-form-label">开始时间 <span class="tpl-form-line-small-title"></span></label>-->
                                    <!--<div class="am-u-sm-9">-->
                                        <!--<input type="text" name="l_begintime" id="begin_time" class="am-form-field tpl-form-no-bg" placeholder="开始时间" data-am-datepicker="" readonly/>-->
                                        <!--<small></small>-->
                                    <!--</div>-->
                                <!--</div>-->


                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary" onclick="validate()">修改信息</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <script src="/Public/assets/js/jquery.min.js"></script>
    <script src="/Public/assets/js/amazeui.min.js"></script>
    <script src="/Public/assets/js/app.js"></script>
<script>
    function validate() {
        var a_password = document.getElementById('a_password').value;
        var a_password2 = document.getElementById('a_password2').value;
        if (a_password != a_password2){
            document.getElementById('state').innerHTML = '新密码与确认密码输入不一致';
        }else{
            document.getElementById('my_form').submit();
        }
    }
</script>
</body>

</html>