<div class="tpl-page-container tpl-page-header-fixed">


    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            功能列表
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <!--<li class="tpl-left-nav-item">-->
                    <!--<a href="/index.php/admin/index" class="nav-link {if condition="$active eq '1'"}active{/if}">-->
                        <!--<i class="am-icon-home"></i>-->
                        <!--<span>系统首页</span>-->
                    <!--</a>-->
                <!--</li>-->
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list {if condition='$active eq 2'}active{/if}" >
                        <i class="am-icon-table"></i>
                        <span>请假管理</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" {if condition="$active eq 2"}style="display: block;"{/if}>
                        <li>
                <a href="/index.php/index/leave/index">
                    <i class="am-icon-angle-right"></i>
                    <span>我的假条</span>
                    <!--<i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>-->
                </a>
                            <a href="/index.php/index/leave/apply2">
                                <i class="am-icon-angle-right"></i>
                                <span>短期假条</span>
                                <!--<i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>-->
                            </a>
                            <a href="/index.php/index/leave/apply">
                                <i class="am-icon-angle-right"></i>
                                <span>长期假条</span>
                                <!--<i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>-->
                            </a>


                                <a href="/index.php/index/leave/printf">
                                    <i class="am-icon-angle-right"></i>
                                    <span>模板打印</span>
                                    <!--<i class="tpl-left-nav-content tpl-badge-primary">-->
                                        <!--5-->
                                    <!--</i>-->
                                </a>

                                    <!--<a href="">-->
                                        <!--<i class="am-icon-angle-right"></i>-->
                                        <!--<span>假条列表</span>-->
                                    <!--</a>-->
                        </li>
                    </ul>
                </li>
                <!--<li class="tpl-left-nav-item">-->
                    <!--<a href="/index.php/ind/student" class="nav-link tpl-left-nav-link-list {if condition="$active eq 3"}active{/if}">-->
                        <!--<i class="am-icon-user"></i>-->
                        <!--<span>学生信息</span>-->
                        <!--&lt;!&ndash;<i class="tpl-left-nav-content tpl-badge-danger">&ndash;&gt;-->
                            <!--&lt;!&ndash;12&ndash;&gt;-->
                        <!--&lt;!&ndash;</i>&ndash;&gt;-->
                    <!--</a>-->
                <!--</li>-->


                <!--<li class="tpl-left-nav-item">-->
                    <!--<a href="/index.php/admin/myclass" class="nav-link tpl-left-nav-link-list {if condition="$active eq 4"}active{/if}">-->
                        <!--<i class="am-icon-users"></i>-->
                        <!--<span>班级信息</span>-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li class="tpl-left-nav-item">-->
                    <!--<a href="/index.php/admin/grade" class="nav-link tpl-left-nav-link-list {if condition="$active eq 5"}active{/if}">-->
                        <!--<i class="am-icon-th-list"></i>-->
                        <!--<span>级别信息</span>-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li class="tpl-left-nav-item">-->
                    <!--<a href="/index.php?c=student" class="nav-link tpl-left-nav-link-list">-->
                        <!--<i class="am-icon-th"></i>-->
                        <!--<span>学期信息</span>-->

                    <!--</a>-->
                <!--</li>-->

                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list {if condition="$active eq 8"}active{/if}">
                        <i class="am-icon-cog"></i>
                        <span>系统设置</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" {if condition='$active eq 8'}style="display: block;"{/if}>
                        <li>
                            <a href="/index.php/index/admin/apply">
                                <i class="am-icon-angle-right"></i>
                                <span>用户管理</span>
                                <!--<i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>-->
                            </a>


                            <!--<a href="/index.php/admin/admin/log">-->
                                <!--<i class="am-icon-angle-right"></i>-->
                                <!--<span>登录日志</span>-->
                            <!--</a>-->
                        </li>
                    </ul>
                </li>
                <!--<li class="tpl-left-nav-item">-->
                    <!--<a href="login.html" class="nav-link tpl-left-nav-link-list">-->
                        <!--<i class="am-icon-key"></i>-->
                        <!--<span>登录</span>-->

                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>