<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    <meta name="description" content="请假管理系统">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/public/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/public/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/public/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/public/assets/css/admin.css">
    <link rel="stylesheet" href="/public/assets/css/app.css">
</head>
<body data-type="generalComponents">

{include file="Index/header"/}

{include file="Index/left"/}


<div class="tpl-content-wrapper">
    <!--<div class="tpl-content-page-title">-->
    <!--Amaze UI 文字列表-->
    <!--</div>-->
    <!--<ol class="am-breadcrumb">-->
    <!--<li><a href="#" class="am-icon-home">首页</a></li>-->
    <!--<li><a href="#">Amaze UI CSS</a></li>-->
    <!--<li class="am-active">文字列表</li>-->
    <!--</ol>-->
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 删除班级
            </div>
            <div class="tpl-portlet-input tpl-fz-ml">
                <div class="portlet-input input-small input-inline">
                    <div class="input-icon right">
                        <!--<i class="am-icon-search"></i>-->
                        <!--<input type="text" class="form-control form-control-solid" placeholder="搜索..."> -->
                    </div>
                </div>
            </div>


        </div>
        <div class="tpl-block">
            <div class="am-g">
                <!--<div class="am-u-sm-12 am-u-md-6">-->
                <!--<div class="am-btn-toolbar">-->
                <!--<div class="am-btn-group am-btn-group-xs">-->
                <!--<button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>-->
                <!--&lt;!&ndash;<button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>&ndash;&gt;-->
                <!--&lt;!&ndash;<button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>&ndash;&gt;-->
                <!--&lt;!&ndash;<button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>&ndash;&gt;-->

                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <div class="am-u-sm-12 am-u-md-3">
                    <h3 class="am-form-group" style="color: red;">提示：删除班级对应班级下面的所有学生信息也会被删除，删除后数据不可恢复</h3>
                    <div class="am-form-group" style="float: inherit" >
                        <select data-am-selected="{btnSize: 'sm'}" id="c_g_id" name="c_g_id" onchange="change_class()">
                            <option value="0">选择级别</option>
                            {volist name="grade_list" id="list"}
                                <option value="{$list.g_id}">{$list.g_name}</option>
                            {/volist}
                        </select>
                    </div>


                    <div class="am-u-sm-12 " style="width: 25%">
                        <div class="am-input-group am-input-group-sm">
                                    <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success" style="background-color: #1E9FFF" type="button" onclick="get_ClassList()">确定</button>
          </span>
                        </div>
                    </div>
                    <!--<div class="am-form-group" style="float: inherit">-->
                    <!--<select data-am-selected="{btnSize: 'sm'}">-->
                    <!--<option value="option1">选择学生</option>-->
                    <!--</select>-->
                    <!--</div>-->

                </div>

                <!--<div class="am-u-sm-12 " style="width: 25%">-->
                <!--<div class="am-input-group am-input-group-sm">-->
                <!--<input type="text" class="am-form-field">-->
                <!--<span class="am-input-group-btn">-->
                <!--<button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                <th class="table-id">ID</th>
                                <th class="table-title">班级名称</th>
                                <th class="table-type">级别</th>
                                <!--<th class="table-author am-hide-sm-only">今日请假</th>-->
                                <!--<th class="table-author am-hide-sm-only">昨日请假</th>-->
                                <!--<th class="table-author am-hide-sm-only">本周请假</th>-->
                                <th class="table-date am-hide-sm-only">添加时间</th>
                                <th class="table-set">操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            {volist name="class_list" id="list"}
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>{$list.c_id}</td>
                                    <td><a href="#">{$list.c_name}</a></td>
                                    <td>{$list.c_grade}</td>
                                    <!--<td class="am-hide-sm-only">{$list.day}</td>-->
                                    <!--<td class="am-hide-sm-only">{$list.last_day}</td>-->
                                    <!--<td class="am-hide-sm-only">{$list.week}</td>-->
                                    <td class="am-hide-sm-only">{$list.c_addtime}</td>
                                    <td>
                                    <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                    <!--<button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>-->
                                    <!--<button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>-->
                                        <a href="/index.php/admin/myclass/delete?c_id={$list.c_id}" style="color: red;" ><span class="am-icon-trash-o"></span> 删除</a>
                                    </div>
                                    </div>
                                    </td>
                                </tr>
                            {/volist}

                            </tbody>
                        </table>
                        <!--<div class="am-cf">-->

                        <!--<div class="am-fr">-->
                        <!--<ul class="am-pagination tpl-pagination">-->
                        <!--<li class="am-disabled"><a href="#">«</a></li>-->
                        <!--<li class="am-active"><a href="#">1</a></li>-->
                        <!--<li><a href="#">2</a></li>-->
                        <!--<li><a href="#">3</a></li>-->
                        <!--<li><a href="#">4</a></li>-->
                        <!--<li><a href="#">5</a></li>-->
                        <!--<li><a href="#">»</a></li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <!--</div>-->
                        <hr>

                    </form>
                </div>

            </div>
        </div>
        <div class="tpl-alert"></div>
    </div>


</div>

</div>


<script src="/public/assets/js/jquery.min.js"></script>
<script src="/public/assets/js/amazeui.min.js"></script>
<script src="/public/assets/js/app.js"></script>
<script>

    function get_ClassList(){
        var c_g_id = document.getElementById('c_g_id').value;
        location.href = "/index.php/admin/myclass/delete?c_g_id="+c_g_id;
    }

</script>
</body>

</html>